// 催办样式
.urge {
  text-align: center;
  position: relative;
  border-radius: 0 0 16px 16px;
  background: url(../../assets/radar/bgColor.svg)  no-repeat;
  background-size: 100%;
  >div {
    background: url(../../assets/radar/bg.svg)  no-repeat;
    background-position: 0 -2%;
    background-size: 100% 100%;
    img{
      margin-top: 2vh;
    }
  }
   
    button {
      border-radius: 23px;
      border: 0;
      font-weight: 500;
      color: #333333;
      background-color: #FFFFFF;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    }
  
}

// 滑动面板样式
.panel {
  .content{
    margin: auto;
    margin-top: 8px;
    height: 100px;
    border-radius: 4px;
    background-color: #F8F8F8;
  }
  :global {
 
    .adm-floating-panel{
      margin-bottom: 50px;
       .adm-floating-panel-header {
        height: 38px;
        line-height: 38px;
        border-radius: 8px 8px 0 0;
      .adm-floating-panel-bar {
        display: none;
      }
    }}
    .adm-button{
      margin-top: 6px;
      height: 32px;
      border-radius: 6px;
      background-color: #6E94F2;
      color: #fff;
    }
    .adm-floating-panel-header::before {
      content: "指标预警";
      font-family: 'PingFang SC';
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #999999;
      margin-left:  -80%;
    }
    .adm-list-item {
      border-bottom: 1px solid #F5F5F5;
      padding: 0;
    }
    .adm-list-item-content {
      margin-bottom: 1px;
      padding: 7px;
      padding-left: 16px;
      padding-right: 12px;
      .adm-list-item-content-main{
        padding: 0;
        padding-top: 10px;
      }
    }
    .adm-list-default .adm-list-body {
      border-top: 0;
    }
    .adm-floating-panel-content{
      background-color: transparent;
    }
  }
}
// 弹出层样式
.popup{
padding:0 0 0 12px;
  >h2{
    height: 16px;
    font-family: 'PingFang SC';
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.5px;
    color: #333333;
    padding-bottom: 20px;
    border-bottom: 1px solid #F5F5F5;
  }
  >h4{
    font-family: 'PingFang SC';
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.5px;
    color: #333333;
  }
   h6{
    margin: 0;
    margin-bottom: 5px;
    color: #999999;
    font-family: 'PingFang SC';
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.5px;
  }
  .outBox{
    margin-right: 12px;
    margin-bottom: 10px;
    border-radius: 8px  ;
    height: 48px;
    background: #F5F5F5;
    display: flex;
    justify-content: space-between;
    >div{
      flex: 1;
      display: flex;
      align-items: center;
    }
    .leftBox{
      img{
        margin:0 5px 0 10px;
      }
      span{
        font-size: 16px;
        color: #333333
      }
    }
    .centerBox{
      span{
        font-size: 12px;
        color: #999;
      }
    }
    .rightBox{
      
      :global {
        .adm-button{
          color: #fff;
          margin-left: 50px;
          font-size: 10px;
          border-radius: 15px;
          background-color: #6E94F2;
         
        }
      }
      
    }
  }
  .bottomBox{
    >div:nth-child(1){
      margin-top: 12px;
      font-family: 'PingFang S'C;
      font-size: 10px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: center;
      color: rgba(10, 17, 26, 0.5);
      img{
        margin-right: 3px;
      }
    }
    >div:nth-of-type(2){
      padding-right: 12px;
      margin-top: 18px;
      :global{
        .adm-button{
          margin: auto;
          width: 343px;
          height:46px;
          color: #fff;
          font-size: 16px;
          border-radius: 6px;
          background-color: #6E94F2;
        }
      }
    }
  }
}

// 旋转动画
@keyframes rotate {
  0%{-webkit-transform:rotate(0deg);}
  25%{-webkit-transform:rotate(90deg);}
  50%{-webkit-transform:rotate(180deg);}
  75%{-webkit-transform:rotate(270deg);}
  100%{-webkit-transform:rotate(360deg);}
}

.rotate{
   animation: rotate 1s linear infinite;
}